@font-face {
    font-family: "Playfair Display";
    src: url("public/font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("public/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
    font-family: "Montserrat", "serif";
    font-weight: 100;
}

body {
    --text-fade: rgba(90,90,90,1);
    --background: rgba(30,30,30,1);
    --menu-background: rgba(20,20,20,0.7);
    --alt: rgba(10,10,10,1);
    --shadow: rgba(0,0,0,0.5);
    --text: rgba(200,200,200,1);

    background: linear-gradient(to bottom, var(--background), var(--alt));
}

header {
    text-align: center;
}

nav {
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

#header-left {
    display: flex;
}

#logo-img {
    opacity: 0.5;
    margin-left: 50px;
    filter: blur(4px);
    transform: translateY(0px);
    transition: opacity 0.5s cubic-bezier(0, 0.75, 0.25, 1), filter 0.5s cubic-bezier(0, 0.75, 0.25, 1), transform 0.5s cubic-bezier(0, 0.75, 0.25, 1);
}

#logo-img:hover {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(-4px);
}

#header-right {
    margin-top: -50px;
    display: flex;
    padding-right: 0px;
    z-index: 1;
}

#hamburger-accordion {
    visibility: collapse;
}

#hamburger {
    user-select: none;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.5s ease;
}

#hamburger:after {
    background-image: none;
    display: flex;
}

#hamburger:hover {
    color: var(--background);
    background-color: white;
}

#hamburger:focus {
    box-shadow: none;
}

.header-button {
    color: white;
    background-color: transparent;
    font-size: 18px;
    height: 50px;
    width: 150px;
    margin-right: 50px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    transition: color 1s cubic-bezier(0, 0.75, 0.25, 1), background-color 0.5s cubic-bezier(0, 0.75, 0.25, 1), transform 0.5s cubic-bezier(0, 0.75, 0.25, 1);
}

.header-button:hover {
    color: var(--background);
    background-color: white;
    transform: translateY(-4px);
}

hr {
    background-color: white;
    height: 1px;
    border: none;
}

#title-mask {
    overflow: hidden;
}

#title {
    color: var(--background);
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    font-family: "Playfair Display", "serif";
    font-style: italic;
    font-size: 100px;

    animation: title-in 2s forwards cubic-bezier(0, 0.75, 0.25, 1);
}

#subtitle-mask {
    overflow: hidden;
}

#subtitle {
    color: white;
    font-family: "Montserrat", "serif";
    font-style: normal;
    font-weight: 100;
    font-size: 30px;

    transform: translateY(200px);
    animation: subtitle-in 2s forwards cubic-bezier(0, 0.75, 0.25, 1);
    animation-delay: 0.25s;
}

#img-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    text-align: center;
    font-size: 25px;
}

#img1 {
    transform: translate(-300px, 0px) rotate(-20deg);
}

#img2 {
    transform: translate(-100px, -100px) rotate(10deg);
}

#img3 {
    transform: translate(300px, 0px) rotate(5deg);
}

#img4 {
    transform: translate(-300px, 0px) rotate(-6deg);
}

.personal-img {
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 8px 8px 5px 3px var(--shadow);
    margin: 40px;
}

#txt3 {
    margin-bottom: 100px;
}

@media screen and (max-width: 1000px) {
    #logo-img {
        margin-left: 20px;
        filter: blur(0px);
        opacity: 1;
    }

    #header-right {
        padding-right: 220px;
        flex-direction: column;

    }

    .header-button {
        font-size: 12px;
        height: 60px;
        width: 100%;
        user-select: none;
        font-weight: 500;
    }

    #title {
        font-size: 50px;
    }

    #subtitle {
        margin-top: 20px;
        font-size: 20px;
    }

    #hamburger {
        visibility: visible;
        display: flex;
    }

    .header-button {
        border: none;
    }

    #home-button {
        visibility: collapse;
        display: none;
    }

    #resume-button {
        visibility: collapse;
        display: none;
    }

    #tableau-button {
        visibility: collapse;
        display: none;
    }

    #hamburger-accordion {
        visibility: visible;
        position: absolute;
        width: 200px;
        background-color: var(--menu-background);
    }

    #img-container {
        font-size: 15px;
    }

    #img-container img {
        margin-top: 80px;
        width: 125px;
        height: 200px;
    }

    #img1 {
        transform: translateX(-130px) rotate(-20deg);
    }
    #img2 {
        transform: translate(-70px, -130px) rotate(10deg);
    }
    #img3 {
        transform: translate(190px, -60px) rotate(5deg);
    }
    #img4 {
        transform: translateX(-150px) rotate(-6deg);
    }
}


@keyframes title-in {
    0% {
        color: var(--text-fade);
        transform: translateY(300px);
    }
    100% {
        color: var(--background);
        transform: translateY(0px);
    }
}

@keyframes subtitle-in {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes img-hover {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}
